*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}

li::marker {
    color: white;
    display: none !important;
  }
  
  .bg-gray{
    background-color: rgb(41, 41, 41);
    color:white;
  }
  
  .Quill-text {
    color: white;
  }
  
  .ql-background {
    display: block;
  }
  
  .ql-color {
    display: block;
  }
  
  .ql-align-justify {
    text-align: justify;
  }
  
  li.ql-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ql-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  li {
    list-style: disc;
  }
  h1{
    overflow-y: hidden;
  }
  .Quill-text ul li::before {
    content: '• '; /* Adds the bullet before each list item */
    color: rgb(255, 255, 255);  /* Customize the color of the bullet */
   /* Adjust the size of the bullet */
  
    margin-right: 5px; /* Space between bullet and text */
  }
  .Quill-text ol li::before {
    content: counter(li) "."; /* Manually add numbers */
    counter-increment: li;  /* Increment the counter */
    color: rgb(255, 255, 255);  /* Customize the color */
     /* Adjust the size */
    margin-right: 5px;  /* Space between the number and text */
  }
  
  .Quill-text ol {
    counter-reset: li;  /* Initialize the counter */
  }
  